*,
::before,
::after {
    padding    : 0;
    margin     : 0;
    box-sizing : border-box;
}

html {
    height : 100%;
}

body {
    position: relative;
    height           : 100%;
    font-family      : Geometria, Arial, sans-serif;
    background-color : #2c7580;
    color            : #ccc;
    user-select      : none;
}

li {
    list-style-type : none;
}


/*безопасное скрытие элемента*/
.visually-hidden {
    position : absolute !important;
    clip     : rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip     : rect(1px, 1px, 1px, 1px);
    padding  : 0 !important;
    border   : 0 !important;
    height   : 1px !important;
    width    : 1px !important;
    overflow : hidden !important;
}

.row {
    outline: 2px solid black;
    position: absolute;
    top       : 80px;
    left      : 75px;
    transform : translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 120px;
}

/* ================================= */

.slider {
    position   : absolute;
    top        : 50%;
    left       : 20%;
    transform  : translate(-50%, -50%);
    width      : 200px;
    height     : 350px;
    margin     : auto;
    /*overflow  : hidden;*/
    box-shadow : 10px 10px 10px black;
    outline: 4px solid red;
}


.slider__list {
    outline    : 5px dashed #ccc;
    position   : relative;
    width      : 200px;
    transition : 0.2s;
}

.slider__item {
    position: absolute;
    top : 0;
    left : 0;
    width   : inherit;
    height  : 350px;
    background-color: black;
    transition: 1s;
}

.slider__img {
    /*display : block;*/
    /*width   : inherit;*/
    /*height  : 350px;*/
    /*background-color : blue;*/

    position: absolute;
    top : 0;
    left : 0;
    width   : inherit;
    height  : 350px;
    background-color: black;
    transition: 1s;
}

.slider__btn {
    padding : 5px 10px;
}
