*,
::before,
::after {
    padding: 0;
    margin: 0;
    box__item-sizing: border-box__item;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Geometria;
    background-color: #2c7580;
    color: #ccc;
    user-select: none;
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.center {
    position: absolute;
    top : 0;
    right : 0;
    bottom : 0;
    left : 0;
    margin: auto;
}

/*безопасное скрытие элемента*/
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
}

.box {
    position: relative;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    outline: 2px solid black;

    perspective: 500px;
}

.box__list {
    position: relative;
    width: inherit;
    transform-style: preserve-3d;
}

.box__item {
    position: absolute;
    width : 200px;
    height : 200px;
    background-color: black;
    text-align: center;
    transition: 1s;
    border: 2px solid white;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box__item span {
    background: black;
    position: absolute;
    top : 0;
    left : 0;
    width : 50px;
    height : 50px;
    line-height: 50px;
    font-size: 18px;
}

.box__item:first-child {
    background: orange;
    color: red;
}

.row {
    position: absolute;
    top : 50%;
    left : 10%;
    transform: translate(-50%, -50%);

    width: 200px;
    display: flex;
    gap: 20px;
    padding: 0 50px;
}

.row button {
    flex-grow: 1;
    padding: 5px 10px;
}

.box__item:nth-child(1) { background-image: url("../img/1.jpg"); }
.box__item:nth-child(2) { background-image: url("../img/2.jpg"); }
.box__item:nth-child(3) { background-image: url("../img/3.jpg"); }
.box__item:nth-child(4) { background-image: url("../img/4.jpg"); }
.box__item:nth-child(5) { background-image: url("../img/5.jpg"); }

